@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Noto+Sans+KR&family=Paytone+One&display=swap');

* {margin: 0;
padding: 0;}

ul,ol {list-style: none;}
a {text-decoration:none;
color: #000;}
img {border: none;
    vertical-align: bottom;}

body {font-family: '맑은고딕', 'apple SD Gothic Neo', sans-serif;}

.boxA {display: flex;}

.box3 {width: 70%;}
.box4 {width: 30%;}

.Logo {font-weight: bold;
font-size: 30px;}

.Menu {}
.Menu ul {display: flex;}
.Menu ul li {}
.Menu ul li a {display: block;
padding: 15px;
font-size: 14px;
background-color: #75dbe7;}
.Menu ul li a:hover {background-color: #75dbe7;}


.Story h1 {margin-bottom: 20px;
font-size: 36px;}
.Story img {max-width: 100%;}
.Story p {margin-top: 10px;
margin-bottom: 20px;}

.Story h2 {margin-left: 25px;}

.Sidemenu {margin-bottom: 25px;}

.Sidemenu h1 {color: #666;}

.Recommend {margin-bottom: 25px;}

.Recommend h1 {color: #666;}

.Popular {margin-bottom: 25px;}

.Popular h1 {color: #666;}

.Popular .txt {vertical-align: auto;}
.Popular span {font-size: 14px;
color: #75dbe7;}



.Recommend ul li {box-sizing: border-box;
background-color: #000;
color: #fff;}
.Recommend h1 {}




.snsSet {}



@media (max-width:599px) {

.snsSet {display: none;
text-indent: -9999px;
}


}



@media (min-width: 699px) and (max-width: 1010px) {


.box4,.boxA {display: flex;}
.box4-1 {width: 50%;}
.box4-2 {width: 50%;}



}


@media (max-width 770px) {

.box1, .boxA, .box4-1, .box4-2 {}

}

