@charset 'utf-8';

article .bg1 {background-image: url(../img/pic1.jpg);}
article .bg2 {background-image: url(../img/pic2.jpg);}
article .bg3 {background-image: url(../img/pic3.jpg);}
article .bg4 {background-image: url(../img/pic4.jpg);}
article .bg5 {background-image: url(../img/pic5.jpg);}
article .bg6 {background-image: url(../img/pic6.jpg);}
article .bg7 {background-image: url(../img/pic7.jpg);}











